@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* root pour la couleur verte des obj et contour */
:root{
    --main-color: #207178;
}
#icons[data-allowed="false"] .fa-cart-shopping {
    display: none;
}

html{
    scroll-behavior: smooth;
}
/* début de header */
header{
    width: 100%;
    padding: 13px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1111;
    transition: .5s ease-in-out;
}

header .logo a{
    font-size: 28px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    font-family: 'Fenix', serif;
}
header .logo img{
    width: 30px;
    margin-top: -5px;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    margin: 0px 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none!important;
    text-transform: capitalize;
    display: block;
    transition: .4s;
    font-size: 15px;
}
header ul li a:hover{
    color: #45ccb8;
}

header .bars{
    display: none;
}
header .bars img{
    width: 30px;
    cursor: pointer;
}

header.active{
    background: #FFF;
    box-shadow: 0px 1px 0px #DDD;
}
header.active .logo a{
    color: #207178;
}
header.active ul li a{
    color: #207178;
    border-color: #207178;
}
header.active #bar{
    background: #207178;
    color: #207178;
    padding: 4px 5px;
    width: 33px;
}
@media(max-width: 991px){
    header .navigation{
        display: block;
        height: 100vh;
        width: 50%;
        background: rgba(0,0,0,.5);
        position: absolute;
        top: 68px;
        right: -50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
    header.active .navigation{
        background: #FFF;
        box-shadow: -1px 0px 0px #DDD;
    }
    header .navigation li{
        margin: 15px 0px;
    }
    header .bars{
        display: block;
    }
}

@media(max-width: 576px){
    header{
        padding: 13px 30px;
    }
    header .navigation.new{
        width: 100%;
        right: -100%;
    }
}

.big-bg{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(pic/tapis-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-bg .bg-content{
    text-align: center;
    color: #FFF;
}
.big-bg .bg-content h1{
    font-size: 55px;
}
.big-bg .bg-content hr{
    background: #FFF;
    width: 35%;
    height: 1px;
    margin: 10px auto 13px auto;
}
.big-bg .bg-content .bg-link{
    margin-top: 16px;
}
.big-bg .bg-content .bg-link a{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #FFF;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.bg-content .bg-link a::before{
    position: absolute;
    content: "";
    background: #207178;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
}
.bg-content .bg-link a:hover::before{
    left: 0%;
}
.bg-content .bg-link a:hover{
    border-color: #207178;
}

@media(max-width: 991px){
    .big-bg .bg-content h1{
        font-size: 50px;
    }
    .big-bg .bg-content p{
        font-size: 15px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 15px;
    }
}

@media(max-width: 768px){
    .big-bg .bg-content h1{
        font-size: 43px;
    }
    .big-bg .bg-content p{
        font-size: 14px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 14px;
    }
}
h1,
p {
    text-align: center;
}

@media(max-width: 576px){
    .big-bg .bg-content{
        padding: 0px 15px;
    }
    .big-bg .bg-content hr{
        width: 130px;
    }
    .big-bg .bg-content br{
        display: none;
    }
    .big-bg .bg-content h1{
        font-size: 28px;
    }
    .big-bg .bg-content p{
        font-size: 13px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 13px;
    }
}

/* fin de header */
.big-collection{
    width: 90%;
    margin: 100px auto;
}
.big-collection .collect-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    grid-row-gap: 20px;
}


.collect-flex .link{
    margin-top: 20px;
}
.big-collection .collect{
    margin: 0px 10px;
}
.collect-flex .link a{
    display: inline-block;
    color: var(--main-color);
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}
.collect-flex .link a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--main-color);
    left: 0%;
    top: 23px;
    transform: scale(0);
    transition: .5s ease-in-out;
}
.collect-flex .collect:hover a::before{
    transform: scale(1);
}

.collect-flex .collect .image{
    position: relative;
}
.collect .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}
.big-collection .collect:hover .image::before{
    animation: animate1 .6s linear forwards;
}

@keyframes animate1 {
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: var(--main-color);
        border-right-color: var(--main-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.collect .image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}
.big-collection .collect:hover .image::after{
    animation: animate2 .6s linear forwards;
}

@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--main-color);
        border-left-color: var(--main-color);
    }
}

@media(max-width: 1230px){
    .big-collection .collect-flex{
        display: flex;
        justify-content: center;
    }
}


.big-shop{
    width: 90%;
    margin: 150px auto; 
}
.big-shop .shop-title{
    text-align: center;
    margin-bottom: 50px;
}
.big-shop .shop-title h2{
    font-weight: 700;
    font-family: 'Fenix' , serif;
}
.big-shop .shop-title p{
    font-size: 15px;
}
.big-shop .shop-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop-flex .shop-one{
    width: 26%;
}
.shop-flex img{
    width: 100%;
}
.shop-flex .shop-two{
    width: 44%;
}
.shop-flex .image-one{
    position: relative;
    margin-bottom: 20px;
}
.shop-flex .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.shop-flex .overlay .txt{
    color: #FFF;
}
.shop-flex .overlay .txt h3{
    margin-bottom: 3px;
}
.shop-flex .overlay .txt span{
    color: #45ccb8;
}
.shop-flex .overlay .link{
    position: absolute;
    bottom: 50px;
}
.shop-flex .overlay .link a{
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
.shop-flex .overlay .link i{
    vertical-align: middle;
    transition: padding .4s ease-in-out;
    font-size: 15px;
}
.shop-flex .overlay .link a:hover i{
    padding-left: 3px;
}
.shop-flex .overlay .link a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: left .4s ease-in-out;
}
.shop-flex .overlay .link a:hover::before{
    left: 0;
}

.shop-flex .image-one:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .image-one:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .image-one:hover .overlay{
    opacity: 1;
}

.shop-flex .shop-two{
    position: relative;
    height: 100%;
}

.shop-flex .shop-two:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .shop-two:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .shop-two:hover .overlay{
    opacity: 1;
}

@keyframes job1 {
    0%{
        opacity: 0;
        margin-bottom: 70px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

@keyframes job1_link {
    0%{
        opacity: 0;
        bottom: 20px;
    }
    100%{
        opacity: 1;
        bottom: 50px;
    }
}


/* media  */

@media(max-width: 991px){
    .shop-flex .shop-one{
        width: 49%;
    }
    .shop-flex .shop-two{
        width: 49%;
    }
}

@media(max-width: 576px){
    .shop-flex .shop-one{
        width: 100%;
    }
    .shop-flex .shop-two{
        width: 100%;
    }
    .big-shop .shop-title h2{
        font-size: 24px;
    }
    .big-shop .shop-title p{
        font-size: 13px;
    }
}



/* media  */

@media(max-width: 991px){
    .big-part img{
        width: 100%;
    }
}

@media(max-width: 576px){
    .text-inside{
        display: none;
    }
    .big-furn .furn-title h2{
        font-size: 18px;
    }
    .big-furn .furn-title p{
        font-size: 13px;
    }
}

/* début team  */
.bg-team{
    width: 100%;
    margin: 100px 0px 0px;
    
}
.bg-team .team-title{
    margin-bottom: 50px;
    text-align: center;
    color: #FFF;
    background: var(--main-color);
    height: 550px;
    padding: 100px 0px;
}
.team-title section{
    text-transform: uppercase;
    font-size: 15px;
}
.team-title h2{
    font-weight: 600;
}
.team-title hr{
    margin: 15px auto;
    width: 110px;
    background: #FFF;
}
.bg-team .team-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: -360px;
    margin-bottom: 100px;
    
}
.team-flex .team-one{
    width: 32%;
}
.team-flex .team-one img{
    width: 600px;
    height: 800px; 
    
}
.team-flex .team-one h4{
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 10px;
}
@media screen and (max-width: 991px) {
    .team-flex .team-one {
        width: 48%; 
        margin-bottom: 20px; 
    }
}

@media screen and (max-width: 768px) {
    .team-flex .team-one {
        width: 100%; 
        margin-bottom: 20px; 
    }
}

@media screen and (max-width: 576px) {
    .team-flex .team-one {
        width: 100%; 
        margin-bottom: 20px; 
    }
}
/* fin de  team  */

/* début de  footer  */
.footer-image{
    display: flex;
    flex-wrap: wrap;
}
.footer-image .image1{
    width: 16.6%;
    position: relative;
}
.footer-image .image1 img{
    width: 100%;
}
.footer-image .insta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
    opacity: 0;
}
.footer-image .insta img{
    width: 30px;
    cursor: pointer;
}
.footer-image .image1:hover .insta{
    opacity: 1;
}
.footer-image .image1:hover .insta img{
    animation: instagram .5s ease-in-out forwards;
}
@keyframes instagram {
    0%{
        opacity: 0;
        margin-bottom: 30px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

/* media query */

@media(max-width: 768px){
    .footer-image .image1{
        width: calc(100% / 3);
    }
}


@media(max-width: 576px){
    .footer-image .image1{
        width: calc(100% / 2);
    }
}

@media(max-width: 300px){
    .footer-image .image1{
        width: 100%;
    }
}

.bg-footer{
    width: 90%;
    margin: 0px auto;
}
.bg-footer .footer-flex{
    display: flex;
    justify-content: space-between;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0px;
}
.bg-footer .footer-flex .footer1{
    width: 24%;
}
.footer-flex .footer1 h2{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.footer-flex .footer1 section{
    font-size: 14px;
}
.footer-flex .footer1 li{
    font-size: 14px;
}
.footer-flex .footer1 li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.footer-flex .footer1 .footer-logo{
    margin-top: 30px;
}
.footer1 .footer-logo img{
    width: 100%;
}
.bg-footer hr{
    background: #f9f9f9;
    margin: 15px 0px;
    height: 1px;
    width: 100%;
}
.bg-footer .copy{
    margin: 15px 0px;
    text-align: center;
}
.bg-footer .copy section{
    font-size: 14px;
    text-transform: capitalize;
}

.bg-footer .copy span{
    font-weight: bold;
    color: var(--main-color);
}

/* media query  */

@media(max-width: 768px){
    .bg-footer .footer-flex .footer1{
        width: 49%;
    }
}

@media(max-width: 576px){
    .bg-footer .footer-flex .footer1{
        width: 100%;
    }
}

.top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 122;
    border: 1px solid #000;
    border-radius: 50%;
    transition: .4s ease-in-out;
    cursor: pointer;
    display: none;
}
.top i{
    font-size: 20px;
    vertical-align: middle;
}
.top:hover{
    background: var(--main-color);
    box-shadow: 0px 0px 1px 1px var(--main-color);
    border-color: #f9f9f9;
    color: #FFF;
}

body footer .Contact {
    padding-bottom: 25px;
  }
  body footer .Contact a {
    color: #ffffff;
    text-decoration: none;
    font-size: 36px;
    margin: 0 5px;
  }
  body footer .Contact .fa-square-facebook:hover {
    color: #207178;
    scale: 1.2;
    transition: all 0.35s;
  }
 
  
  body footer .Contact .fa-square-google-plus:hover {
    color: #207178;
    scale: 1.2;
    transition: all 0.35s;
  }
 
  body footer p {
    font-size: 14px;
    color: #ffffff;
  }
  
/* fin de  footer  */


/* Styles pour big collection, big product et big cat */

.big-collection,
.big-product,
.big-cat {
    padding: 50px 0;
    background-color: #f5f5f5;
}


.collect-flex,
.productcat-flex,
.bigcat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.collect,

.product-cat {
    flex-basis: calc(25% - 40px);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 200px; /* Choisissez la largeur désirée */
    
}

@media(max-width: 991px) {
    .collect,
    .product-cat {
        flex-basis: calc(50% - 20px);
    }
}

@media(max-width: 576px) {
    .collect,
    .product-cat {
        flex-basis: calc(100% - 20px);
        width: auto;
        margin: 0 10px;
    }
}

.collect:hover,
.product-one:hover,
.product-cat:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.collect .image img,
.product-one .product-image img,
.product-cat .product-img img {
    width:400px; /* Choisissez la largeur désirée */
    height:600px; /* Choisissez la hauteur désirée */
}

.link,
.content {
    padding: 20px;
}

.link a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.link a:hover {
    color: #007bff;
}

.content h4 {
    margin: 0;
    font-size: 18px;
}

.content section {
    margin: 10px 0;
    font-size: 16px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-one:hover .overlay,
.product-cat:hover .overlay {
    opacity: 1;
}

.overlay i {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
}
