
*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* root pour la couleur verte des obj et contour */
:root{
    --main-color: #207178;
}
#icons[data-allowed="false"] .fa-cart-shopping {
    display: none;
}

html{
    scroll-behavior: smooth;
}
/* début de header */
header{
    width: 100%;
    padding: 13px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1111;
    transition: .5s ease-in-out;
}

header .logo a{
    font-size: 28px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
    font-family: 'Fenix', serif;
}
header .logo img{
    width: 30px;
    margin-top: -5px;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    margin: 0px 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none!important;
    text-transform: capitalize;
    display: block;
    transition: .4s;
    font-size: 15px;
}
header ul li a:hover{
    color: #45ccb8;
}

header .bars{
    display: none;
}
header .bars img{
    width: 30px;
    cursor: pointer;
}

header.active{
    background: #FFF;
    box-shadow: 0px 1px 0px #DDD;
}
header.active .logo a{
    color: #207178;
}
header.active ul li a{
    color: #207178;
    border-color: #207178;
}
header.active #bar{
    background: #207178;
    color: #207178;
    padding: 4px 5px;
    width: 33px;
}
@media(max-width: 991px){
    header .navigation{
        display: block;
        height: 100vh;
        width: 50%;
        background: rgba(0,0,0,.5);
        position: absolute;
        top: 68px;
        right: -50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
    header.active .navigation{
        background: #FFF;
        box-shadow: -1px 0px 0px #DDD;
    }
    header .navigation li{
        margin: 15px 0px;
    }
    header .bars{
        display: block;
    }
}

@media(max-width: 576px){
    header{
        padding: 13px 30px;
    }
    header .navigation.new{
        width: 100%;
        right: -100%;
    }
}

.big-bg{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(pic/tapis-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-bg .bg-content{
    text-align: center;
    color: #FFF;
}
.big-bg .bg-content h1{
    font-size: 55px;
}
.big-bg .bg-content hr{
    background: #FFF;
    width: 35%;
    height: 1px;
    margin: 10px auto 13px auto;
}
.big-bg .bg-content .bg-link{
    margin-top: 16px;
}
.big-bg .bg-content .bg-link a{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #FFF;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.bg-content .bg-link a::before{
    position: absolute;
    content: "";
    background: #207178;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
}
.bg-content .bg-link a:hover::before{
    left: 0%;
}
.bg-content .bg-link a:hover{
    border-color: #207178;
}

@media(max-width: 991px){
    .big-bg .bg-content h1{
        font-size: 50px;
    }
    .big-bg .bg-content p{
        font-size: 15px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 15px;
    }
}

@media(max-width: 768px){
    .big-bg .bg-content h1{
        font-size: 43px;
    }
    .big-bg .bg-content p{
        font-size: 14px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 14px;
    }
}

@media(max-width: 576px){
    .big-bg .bg-content{
        padding: 0px 15px;
    }
    .big-bg .bg-content hr{
        width: 130px;
    }
    .big-bg .bg-content br{
        display: none;
    }
    .big-bg .bg-content h1{
        font-size: 28px;
    }
    .big-bg .bg-content p{
        font-size: 13px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 13px;
    }
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    text-align: center;
    padding: 45px;
}

main table {
    margin: auto;
    font-size: 14px;
}

main td,
main th {
    padding: 8px;
    border-collapse: collapse;
}

main th {
    border-bottom: 1px solid lightgrey;
}

main p {
    margin-top: 0px;
}

main form input,
main form select {
    height: 24px;
    width: 240px;
    box-sizing: border-box;
}

main form label {
    font-size: 12px;
}

.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    z-index: 2;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    margin-left: 10px;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

.btn-success:hover {
    background-color: #1e7e34;
}

#cart-items {
    padding: 20px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.cart-item input {
    width: 50px;
}

#totals {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: right;
    margin-bottom: 10px;
}

#total,
#total-ttc {
    background-color: #f4f4f4;
    padding: 10px 20px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
}

#checkout-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
